<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">

    <!-- Bootstrap CSS -->
    <link crossorigin="anonymous" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          rel="stylesheet">
    <!-- Fonte do Google-->
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <title>Cadastro de Cliente</title>
</head>
<style>
    *{
        font-family: 'Bebas Neue', cursive;
        font-size: 1.2rem;
    }


</style>
<body>

<div class="container">
    <div class="card p-3 my-3">
        <h1>Cadastro de Cliente</h1>
        <form th:object="${customerDTO}" action="/customer/register-new" method="post" class="my-2" name="register">
            <div class="form-group">
                <label for="customerName">Nome Completo</label>
                <input th:field="*{customerName}" th:errorclass="is-invalid" class="form-control"
                       placeholder="Digite seu nome completo"
                       type="text"/>
                <div th:errors="*{customerName}" class="invalid-feedback"></div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="cpf">CPF</label>
                    <input th:field="*{cpf}" th:errorclass="is-invalid" class="form-control"
                           placeholder="Digite seu CPF" type="text"/>
                    <div th:errors="*{cpf}" class="invalid-feedback"></div>
                </div>

                <div class="form-group col-md-6">
                    <label for="rg">RG</label>
                    <input th:field="*{rg}" th:errorclass="is-invalid" class="form-control" placeholder="Digite seu RG"
                           type="text"/>
                    <div th:errors="*{rg}" class="invalid-feedback"></div>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="income">Renda</label>
                    <input th:field="*{income}" th:errorclass="is-invalid" class="form-control"
                           placeholder="Digite o valor da sua renda"
                           type="number"/>
                    <div th:errors="*{income}" class="invalid-feedback"></div>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="email">E-mail</label>
                    <input th:field="*{email}" th:errorclass="is-invalid" class="form-control"
                           placeholder="Digite seu e-mail" type="email"/>
                    <div th:errors="*{email}" class="invalid-feedback"></div>
                </div>
                <div class="form-group col-md-6">
                    <label for="password">Senha</label>
                    <input th:field="*{password}" th:errorclass="is-invalid" class="form-control"
                           placeholder="Digite sua senha" type="password"/>
                    <div th:errors="*{password}" class="invalid-feedback"></div>
                </div>
            </div>
            <button class="btn btn-success btn-lg" type="submit">Cadastrar</button>
        </form>
    </div>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script crossorigin="anonymous"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>